footer {
    width: 100%;
    background-color: #091a15 !important;
    color: #fafafa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 0;
    margin-top: 10px;
}